@model BusinessLogicLayer.EmployeeDTO
@using BusinessLogicLayer

@{
    ViewBag.Title = Constants.TitleDeleteEmployee;
}

<h4>@Constants.DeleteMessage</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Post)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post)
        </dd>
        <dt>
            @Html.LabelFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Constants.Delete class="btn btn-default" /> |
            @Html.ActionLink(Constants.Cancel, "List")
        </div>
    }
</div>

